<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<H1 th:text="${titulo}"></H1>
<ul>
    <li>
        <a th:href="@{/variables/string/} + 'Hola Andrés'">/variables/string/Hola Andres</a>
    </li>
    <li>
        <a th:href="@{/variables/string/} + 'Que tal Andrés'">/variables/string/Que Tal Jhon</a>
    </li>

    <li>
        <a th:href="@{/variables/string/} + 'Saludos Andrés'+ '/' + 7">/variables/string/</a>
    </li>
</ul>
</body>
</html>